{% extends "layout.html" %}

{% block explain %}
<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<!-- Core theme JS-->
<script src="../static/js/scripts.js"></script>
<script src="../static/js/jquery.highlight-within-textarea.js"></script>
<script src="../static/js/jquery.mark.min.js"></script>
<script src="../static/js/Chart.js"></script>
<script src="../static/js/Chart.min.js"></script>

<style>
 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #58c159;
}

input:focus + .slider {
  box-shadow: 0 0 1px #7be876;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>

<div class="container">
    <div class="row">
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
     <form action="" method="post" role="form" id="upload-form" enctype="multipart/form-data">

        <div class="row">
            <div class="container-fluid">
                <h5 class="text-center">Explanation highlights:</h5>
            </div>
        </div>


            <div class="form-row">
                <div class="col-lg-1"></div>
                <div class="form-group col-lg-10 text-center">
                    <div id="val_message_cont"></div>
                    <div class="md-form">
                        <div id="md-div" class="md-textarea form-control" style="overflow-y: scroll; height:800px; text-align: left; margin-top: 25px;" readonly>

                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>


            <div class="row">
                <div class="content wow fadeInLeft col-md-12">
                    <div class="cta-btn-container text-center">
                        <button class="btn btn-outline btn-sm" id="clear" type="button" style="background-color:rosybrown">
                            Clear results
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="container text-center" style="margin-top: 25px;">
                <canvas id="bar-chart-horizontal" width="1300" height="650"></canvas>
                </div>
            </div>

            <div class="row">
                <div class="container text-center">
                    <h4 class="err-mes" style="margin: 20px auto; color:darkorange">{{message}}</h4>
                </div>
            </div>

            <div class="text-center" style="margin-top:10px; margin-bottom:10px;">
                {% for message in get_flashed_messages() %}
                {{ message }}
                {% endfor %}
            </div>

         <div class="row">
             <div class="container text-center" style="margin-top:10px; margin-bottom:30px;">
                 <!-- Rounded switch -->
                 <p>Show/hide explainer statistics</p>
                <label class="switch">
                  <input type="checkbox" class="switch" checked>
                  <span class="slider round"></span>

                </label>
             </div>
         </div>

     </form>

</div>

<div class="container-fluid explainer-stats">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="section-header text-center">
                <h3 class="section-title">Explainer statistics</h3>
                <span class="section-divider"></span>
                <p class="section-description">
                    Information about the predictions.
                </p>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="table-responsive col-lg-8">
            <table class="table">
                <thead class="text-center">
                    <tr>
                        <th scope="col" colspan="2"><b>Predictions</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Model name:</th>
                        <td class="text-center">{{session['model_name']}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Task name:</th>
                        <td class="text-center">{{session['task_name']}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Patient risk score:</th>
                        <td class="text-center">{{session['risk_score']}} ({{session['risk_str']}})</td>
                    </tr>
                    <tr>
                        <th scope="row">Patient risk percentage:</th>
                        <td class="text-center">{{session['risk_per']}}%</td>
                    </tr>
                    <tr>
                        <th scope="row">Model confidence:</th>
                        <td class="text-center">{{session['risk_conf']}}%</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="table-responsive col-lg-8">
            <table class="table">
                <thead class="text-center">
                    <tr>
                        <th scope="col" colspan="2"><b>Explainer metrics</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Mean explanation score:</th>
                        <td class="text-center">{{session['m_exp_score']}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Mean sentence ranking score:</th>
                        <td class="text-center">{{session['m_sent_r_score']}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Top positive explanation:</th>
                        <td class="text-center">{{session['t_pos_exp']}}<br>Score({{session['t_pos_exp_s']}})</td>
                    </tr>
                    <tr>
                        <th scope="row">Top negative explanation:</th>
                        <td class="text-center">{{session['t_neg_exp']}}<br>Score({{session['t_neg_exp_s']}})</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-2"></div>
    </div>

    <div class="row">
        <div class="col-lg-2"></div>
        <div class="table-responsive col-lg-8">
            <table class="table">
                <thead class="text-center">
                    <tr>
                        <th scope="col" colspan="3"><b>Sentence Ranking metrics</b></th>
                    </tr>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"><b>Top 5 positive ranking sentences</b></th>
                        <th scope="col"><b>Top 5 negative ranking sentences</b></th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td class="text-center">{{session['t_pos_sent_exp_keys'][0]}}<br>Score({{session['t_pos_sent_exp_vals'][0]}})</td>
                        <td class="text-center">{{session['t_neg_sent_exp_keys'][0]}}<br>Score({{session['t_neg_sent_exp_vals'][0]}})</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td class="text-center">{{session['t_pos_sent_exp_keys'][1]}}<br>Score({{session['t_pos_sent_exp_vals'][1]}})</td>
                        <td class="text-center">{{session['t_neg_sent_exp_keys'][1]}}<br>Score({{session['t_neg_sent_exp_vals'][1]}})</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td class="text-center">{{session['t_pos_sent_exp_keys'][2]}}<br>Score({{session['t_pos_sent_exp_vals'][2]}})</td>
                        <td class="text-center">{{session['t_neg_sent_exp_keys'][2]}}<br>Score({{session['t_neg_sent_exp_vals'][2]}})</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td class="text-center">{{session['t_pos_sent_exp_keys'][3]}}<br>Score({{session['t_pos_sent_exp_vals'][3]}})</td>
                        <td class="text-center">{{session['t_neg_sent_exp_keys'][3]}}<br>Score({{session['t_neg_sent_exp_vals'][3]}})</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td class="text-center">{{session['t_pos_sent_exp_keys'][4]}}<br>Score({{session['t_pos_sent_exp_vals'][4]}})</td>
                        <td class="text-center">{{session['t_neg_sent_exp_keys'][4]}}<br>Score({{session['t_neg_sent_exp_vals'][4]}})</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>

<style>
    .neg_statement_1 {
  background: rgba(39, 234, 137, 0.2);
    }
    .neg_statement_2 {
  background: rgba(39, 234, 137, 0.4);
    }
    .neg_statement_3 {
  background: rgba(39, 234, 137, 0.6);
    }
    .neg_statement_4 {
  background: rgba(39, 234, 137, 0.8);
    }
    .neg_statement_5 {
  background: rgba(39, 234, 137, 1);
    }
    .pos_statement_1 {
  background: rgba(226, 71, 71, 0.2);
    }
    .pos_statement_2 {
  background: rgba(226, 71, 71, 0.4);
    }
    .pos_statement_3 {
  background: rgba(226, 71, 71, 0.6);
    }
    .pos_statement_4 {
  background: rgba(226, 71, 71, 0.8);
    }
    .pos_statement_5 {
  background: rgba(226, 71, 71, 1);
    }
</style>

<script type="text/javascript">

    function termFreqMap(str) {
        var words = str.split(' ');
        var termFreq = {};
        words.forEach(function(w) {
            termFreq[w] = (termFreq[w] || 0) + 1;
        });
        return termFreq;
    }

    function addKeysToDict(map, dict) {
        for (var key in map) {
            dict[key] = true;
        }
    }

    function termFreqMapToVector(map, dict) {
        var termFreqVector = [];
        for (var term in dict) {
            termFreqVector.push(map[term] || 0);
        }
        return termFreqVector;
    }

    function vecDotProduct(vecA, vecB) {
        var product = 0;
        for (var i = 0; i < vecA.length; i++) {
            product += vecA[i] * vecB[i];
        }
        return product;
    }

    function vecMagnitude(vec) {
        var sum = 0;
        for (var i = 0; i < vec.length; i++) {
            sum += vec[i] * vec[i];
        }
        return Math.sqrt(sum);
    }

    function cosineSimilarity(vecA, vecB) {
        return vecDotProduct(vecA, vecB) / (vecMagnitude(vecA) * vecMagnitude(vecB));
    }

    Cosinesimilarity = function textCosineSimilarity(strA, strB) {
        var termFreqA = termFreqMap(strA);
        var termFreqB = termFreqMap(strB);

        var dict = {};
        addKeysToDict(termFreqA, dict);
        addKeysToDict(termFreqB, dict);

        var termFreqVecA = termFreqMapToVector(termFreqA, dict);
        var termFreqVecB = termFreqMapToVector(termFreqB, dict);

        return cosineSimilarity(termFreqVecA, termFreqVecB);
    }



    window.onload = function () {
        // Determine selected options
        var options_pos_1 = {
            separateWordSearch: false,
            accuracy: {
                "value": "exactly",
                "limiters": [",", ".", "\n", "\r", " "]
            },
            acrossElements: false,
            debug: true,
            diacritics: true,
            className: "pos_statement_1",
            caseSensitive: true
        };

        var options_pos_2 = {
            separateWordSearch: false,
            accuracy: {
                "value": "exactly",
                "limiters": [",", ".", "\n", "\r", " "]
            },
            acrossElements: false,
            debug: true,
            diacritics: true,
            className: "pos_statement_2",
            caseSensitive: true
        };

        var options_pos_3 = {
            separateWordSearch: false,
            accuracy: {
                "value": "exactly",
                "limiters": [",", ".", "\n", "\r", " "]
            },
            acrossElements: false,
            debug: true,
            diacritics: true,
            className: "pos_statement_3",
            caseSensitive: true
        };

        var options_pos_4 = {
            separateWordSearch: false,
            accuracy: {
                "value": "exactly",
                "limiters": [",", ".", "\n", "\r", " "]
            },
            acrossElements: false,
            debug: true,
            diacritics: true,
            className: "pos_statement_4",
            caseSensitive: true
        };

        var options_pos_5 = {
            separateWordSearch: false,
            accuracy: {
                "value": "exactly",
                "limiters": [",", ".", "\n", "\r", " "]
            },
            acrossElements: false,
            debug: true,
            diacritics: true,
            className: "pos_statement_5",
            caseSensitive: true
        };

        var options_neg_1 = {
            separateWordSearch: false,
            accuracy: {
                "value": "exactly",
                "limiters": [",", ".", "\n", "\r", " "]
            },
            acrossElements: false,
            debug: true,
            diacritics: true,
            className: "neg_statement_1",
            caseSensitive: true
        };

        var options_neg_2 = {
            separateWordSearch: false,
            accuracy: {
                "value": "exactly",
                "limiters": [",", ".", "\n", "\r", " "]
            },
            acrossElements: false,
            debug: true,
            diacritics: true,
            className: "neg_statement_2",
            caseSensitive: true
        };

        var options_neg_3 = {
            separateWordSearch: false,
            accuracy: {
                "value": "exactly",
                "limiters": [",", ".", "\n", "\r", " "]
            },
            acrossElements: false,
            debug: true,
            diacritics: true,
            className: "neg_statement_3",
            caseSensitive: true
        };

        var options_neg_4 = {
            separateWordSearch: false,
            accuracy: {
                "value": "exactly",
                "limiters": [",", ".", "\n", "\r", " "]
            },
            acrossElements: false,
            debug: true,
            diacritics: true,
            className: "neg_statement_4",
            caseSensitive: true
        };

        var options_neg_5 = {
            separateWordSearch: false,
            accuracy: {
                "value": "exactly",
                "limiters": [",", ".", "\n", "\r", " "]
            },
            acrossElements: false,
            debug: true,
            diacritics: true,
            className: "neg_statement_5",
            caseSensitive: true
        };



        var pos_keywords = [];
        var neg_keywords = [];

        $('#md-form-text').text(localStorage.getItem("raw_letter"));
        to_rep = localStorage.getItem("raw_letter").replace(/\t/g,'&nbsp;&nbsp;&nbsp;&nbsp;');

        to_rep = to_rep.replace(/\n+/g, '\n');
        to_rep = to_rep.replace(/\r+/g, '\r');

        to_rep = to_rep.replace(/\r?\n/g, '<br/>');
        $('#md-div').html(to_rep);

        var explanations = "{{ session['explanations'] }}";
        explanations = explanations.replace(/&#34;/g, '"');
        explanations = JSON.parse(explanations);
        var list_letter_sents = localStorage.getItem("raw_letter").split(".");

        for (var exp in explanations) {
            var max_sim = 0.0
            best_sent = ""
            for (var raw_sent in list_letter_sents) {
                sim = Cosinesimilarity(explanations[exp][0], list_letter_sents[raw_sent]);
                if(sim > max_sim) {
                    max_sim = sim;
                    best_sent = list_letter_sents[raw_sent];
                }
            }
            var format = /[ `!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~]/;
            best_sent = best_sent.replace(/\t/g, '<br/>')
            if (format.test(best_sent[0])) {
                best_sent = best_sent.substr(1);
            }
            best_sent = best_sent.trim()
            if(explanations[exp][1] > 0.0) {
                pos_keywords.push([best_sent.replace(/\r?\n/g, '<br/>'), explanations[exp][1]])
            }
            else {
                neg_keywords.push([best_sent.replace(/\r?\n/g, '<br/>'), explanations[exp][1]])
            }
        }

        var pos_keywords_proc_1 = [];
        var pos_keywords_proc_2 = [];
        var pos_keywords_proc_3 = [];
        var pos_keywords_proc_4 = [];
        var pos_keywords_proc_5 = [];

        var neg_keywords_proc_1 = [];
        var neg_keywords_proc_2 = [];
        var neg_keywords_proc_3 = [];
        var neg_keywords_proc_4 = [];
        var neg_keywords_proc_5 = [];

        for (var sent in pos_keywords){
            sent_list = pos_keywords[sent][0].split('<br/>');
            for (var sent_split in sent_list){
                if (/^[a-zA-Z]/.test(sent_list[sent_split]) && sent_list[sent_split].length > 0) {
                    sent_split_split = sent_list[sent_split].split(" ")
                    if (pos_keywords[sent][1] < 0.005) {
                        pos_keywords_proc_1.push(sent_list[sent_split]);
                    }
                    else if (pos_keywords[sent][1] >= 0.005 && pos_keywords[sent][1] < 0.01) {
                        pos_keywords_proc_2.push(sent_list[sent_split]);
                    }
                    else if (pos_keywords[sent][1] >= 0.01 && pos_keywords[sent][1] < 0.1) {
                        pos_keywords_proc_3.push(sent_list[sent_split]);
                    }
                    else if (pos_keywords[sent][1] >= 0.1 && pos_keywords[sent][1] <= 0.2) {
                        pos_keywords_proc_4.push(sent_list[sent_split]);
                    }
                    else {
                        pos_keywords_proc_5.push(sent_list[sent_split]);
                    }
                }
            }
        }

        for (var sent in neg_keywords){
            sent_list = neg_keywords[sent][0].split('<br/>');
            for (var sent_split in sent_list){
                if (/^[a-zA-Z]/.test(sent_list[sent_split]) && sent_list[sent_split].length > 0) {
                    sent_split_split = sent_list[sent_split].split(" ")
                    if (neg_keywords[sent][1] > -0.005) {
                        neg_keywords_proc_1.push(sent_list[sent_split]);
                    }
                    else if (neg_keywords[sent][1] <= -0.005 && neg_keywords[sent][1] > -0.01) {
                        neg_keywords_proc_2.push(sent_list[sent_split]);
                    }
                    else if (neg_keywords[sent][1] <= -0.01 && neg_keywords[sent][1] > -0.1) {
                        neg_keywords_proc_3.push(sent_list[sent_split]);
                    }
                    else if (neg_keywords[sent][1] <= -0.1 && neg_keywords[sent][1] >= -0.2) {
                        neg_keywords_proc_4.push(sent_list[sent_split]);
                    }
                    else {
                        neg_keywords_proc_5.push(sent_list[sent_split]);
                    }
                }
            }
        }

        // Remove previous marked elements and mark
        // the new keyword inside the context
        $("#md-div").unmark({
          done: function() {
            $("#md-div").mark(Array.from(pos_keywords_proc_1), options_pos_1);
            $("#md-div").mark(Array.from(pos_keywords_proc_2), options_pos_2);
            $("#md-div").mark(Array.from(pos_keywords_proc_3), options_pos_3);
            $("#md-div").mark(Array.from(pos_keywords_proc_4), options_pos_4);
            $("#md-div").mark(Array.from(pos_keywords_proc_5), options_pos_5);

            $("#md-div").mark(Array.from(neg_keywords_proc_1), options_neg_1);
            $("#md-div").mark(Array.from(neg_keywords_proc_2), options_neg_2);
            $("#md-div").mark(Array.from(neg_keywords_proc_3), options_neg_3);
            $("#md-div").mark(Array.from(neg_keywords_proc_4), options_neg_4);
            $("#md-div").mark(Array.from(neg_keywords_proc_5), options_neg_5);
          }
        });

        /*
        $("#md-form-text").mark(best_sent, {
                "wildcards": "enabled",
                "acrossElements": false,
                "separateWordSearch": false,
                "diacritics": false,
                "debug": true
            });
        */
        console.log(explanations)
        exp_labels = []; exp_values = []; exp_colors = []; exp_labels_full = [];
        for (var example in explanations) {
            if(explanations[example][0].length >= 100){
                exp_labels.push(explanations[example][0].slice(0, 93) + "...")
            }
            else {
                exp_labels.push(explanations[example][0])
            }

            exp_labels_full.push(explanations[example][0])
            exp_values.push(explanations[example][1])
            if (explanations[example][1] > 0) {
                exp_colors.push("#eb6238")
            }
            else {
                exp_colors.push("#57c72e")
            }
        }

            new Chart(document.getElementById("bar-chart-horizontal"), {
            type: 'horizontalBar',
            data: {
              labels: exp_labels,
              datasets: [
                {
                  label: "Explanation value",
                  backgroundColor: exp_colors,
                  data: exp_values
                }
              ]
            },
            options: {
              legend: { display: false },
              title: {
                display: true,
                text: 'Explanation sentence relevance (positives - red, negatives - green)'
              }
            }
            });
    }

    $(document).ready(function () {
      $(".switch").click(function(){
            if($(this).prop("checked") === true){
                $(".explainer-stats").show();
            }
            else if($(this).prop("checked") === false){
                $(".explainer-stats").hide();
            }
        });
    });

</script>

{% endblock %}