files:
  "/tmp/pipInstallation.sh":
    mode: "000777"
    owner: root
    group: root
    content: |
      #! /bin/bash
      source /opt/python/run/venv/bin/activate
      pip install beautifulsoup4==4.7.1
      pip install boto3==1.9.86
      pip install botocore==1.12.86
      pip install bs4==0.0.1
      pip install certifi==2018.11.29
      pip install chardet==3.0.4
      pip install Click==7.0
      pip install Cython==0.29.3
      pip install docutils==0.14
      pip install emoji==0.5.1
      pip install Flask==1.0.2
      pip install future==0.17.1
      pip install idna==2.8
      pip install itsdangerous==1.1.0
      pip install Jinja2==2.10
      pip install jmespath==0.9.3
      pip install MarkupSafe==1.1.0
      pip install numpy==1.16.0
      pip install python-dateutil==2.7.5
      pip install requests==2.21.0
      pip install s3transfer==0.1.13
      pip install six==1.12.0
      pip install soupsieve==1.7.3
      pip install urllib3==1.24.1
      pip install vaderSentiment==3.2.1
      pip install Werkzeug==0.14.1
      git clone https://github.com/facebookresearch/fastText.git
      cd fastText
      pip install .
      wget https://raw.github.com/charlesmalafosse/aws-elasticbeanstalk-ml-server/master/model-en.ftz --output-document=/tmp/model-en.ftz
      wget https://raw.github.com/charlesmalafosse/aws-elasticbeanstalk-ml-server/master/model-es.ftz --output-document=/tmp/model-es.ftz
      wget https://raw.github.com/charlesmalafosse/aws-elasticbeanstalk-ml-server/master/model-fr.ftz --output-document=/tmp/model-fr.ftz
      wget https://raw.github.com/charlesmalafosse/aws-elasticbeanstalk-ml-server/master/model-de.ftz --output-document=/tmp/model-de.ftz
      wget https://raw.github.com/charlesmalafosse/aws-elasticbeanstalk-ml-server/master/model-it.ftz --output-document=/tmp/model-it.ftz
      

commands:
  01_execute:
    command: "/tmp/pipInstallation.sh"
