files:
  "/tmp/pipInstallation.sh":
    mode: "000777"
    owner: root
    group: root
    content: |
      #! /bin/bash
      source /opt/python/run/venv/bin/activate
      pip install awscli==1.18.92
      pip install awsebcli==3.18.1
      pip install black
      pip install boto3==1.14.15
      pip install "https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.2.4/en_core_sci_md-0.2.4.tar.gz"
      pip install Flask==1.1.2
      pip install joblib==0.16.0
      pip install matplotlib==3.2.2
      pip install nltk==3.5
      pip install numpy==1.19.0
      pip install pandas==1.0.5
      pip install pytest==5.4.3
      pip install pytest-cov==2.10.0
      pip install python-dateutil==2.8.0
      pip install python-dotenv==0.14.0
      pip install s3transfer==0.3.3
      pip install scikit-learn==0.23.1
      pip install scipy==1.4.1
      pip install seaborn==0.10.1
      pip install spacy==2.2.0
      pip install tensorboard==2.2.2
      pip install tensorboard-plugin-wit==1.7.0
      pip install --nocache-dir tensorflow-gpu==2.2.0
      pip install tensorflow-gpu-estimator==2.2.0
      pip install tqdm==4.47.0

      git clone https://github.com/JadeBlue96/lime.git
      cd lime
      pip install .

commands:
  01_execute:
    command: "/tmp/pipInstallation.sh"
